# Supabase - https://app.supabase.com/project/_/settings/api adresinden alın
NEXT_PUBLIC_SUPABASE_URL=https://csekzzsaeehakpdmzfam.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNzZWt6enNhZWVoYWtwZG16ZmFtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY3NzEzMDIsImV4cCI6MjA5MjM0NzMwMn0.mz8y4Stqv4HKqvxxJZZScxeAlENe-VOGjXm5n4AT_ec
